html body {
  font-family: 'Rubik';
  font-size: 16px;
}

html body .center-important {
  margin: 0 auto !important;
}

@media screen and (max-width: 576px) {
  html body .extraSmallScreen {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  html body .smallScreen {
    display: none !important;
  }
}

html body .colorBranco {
  color: #fff;
}

html body header {
  height: 593px;
  overflow: hidden;
  background-image: linear-gradient(to top, #775abc, #422e86);
}

@media screen and (max-width: 991px) {
  html body header {
    height: auto;
    padding-bottom: 50px;
  }
}

html body header nav.navbar {
  background-color: transparent;
  font-size: 15px;
}

html body header nav.navbar div ul li.nav-item a.nav-link {
  color: #fff;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
}

html body header nav.navbar div ul li.nav-item a.nav-link:hover, html body header nav.navbar div ul li.nav-item a.nav-link:focus, html body header nav.navbar div ul li.nav-item a.nav-link:active {
  outline: none;
  color: #25d194;
}

html body header nav.navbar div ul li.nav-item.active a {
  color: #25d194;
}

html body header nav.navbar form {
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

html body header nav.navbar form button {
  cursor: pointer;
}

html body header nav.navbar form button:active, html body header nav.navbar form button:focus, html body header nav.navbar form button:hover, html body header nav.navbar form button:visited {
  outline: none;
}

html body header nav.navbar form button#entrar {
  background-color: transparent;
  color: #fff;
  border: none;
}

html body header nav.navbar form button.btn {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-weight: 300;
  font-size: 15px;
  outline: none;
  padding-left: 5px;
}

html body header nav.navbar form button.btn img {
  margin-right: 5px;
}

html body header h1 {
  margin-top: 68px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 400;
  font-family: 'Rubik';
  font-size: 4.000em;
  padding: 0 2px;
}

@media screen and (max-width: 576px) {
  html body header h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  html body header h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  html body header .row #topoLeft {
    display: block;
  }
}

html body header .row #topoLeft h1 {
  font-size: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
  width: 540px;
}

@media screen and (max-width: 991px) {
  html body header .row #topoLeft h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html body header .row #topoLeft h1 {
    font-size: 40px;
  }
}

html body header .row #topoLeft p {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  html body header .row #topoLeft p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html body header .row #topoLeft p {
    font-size: 18px;
  }
}

html body header .row #topoLeft p.entre {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 106px;
}

html body header .row #topoLeft p.entre span {
  text-decoration: underline;
}

html body header .row #topoLeft button {
  width: 235px;
  height: 55px;
  border-radius: 3px;
  background-color: #25d193;
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  border: none;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 30px;
}

html body header .row #topoRight img {
  position: absolute;
  bottom: -59px;
  right: -59px;
}

@media screen and (max-width: 991px) {
  html body header .row #topoRight img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }
}

html body #testarAgoraMobile {
  margin-top: -25px;
  width: 235px;
  height: 55px;
}

@media screen and (min-width: 991px) {
  html body #testarAgoraMobile {
    display: none;
  }
}

html body .button-centralizado {
  border-radius: 3px;
  background-color: #25d193;
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 14.5px;
  border: none;
  margin: 0 auto;
  display: block;
}

html body main {
  padding: 30px 0;
}

html body main .linhaVerde {
  width: 39px;
  display: block;
  border-radius: 5px;
  height: 4px;
  margin: 0 auto 30px auto;
  background-color: #0ecc86;
}

html body main .linhaBranca {
  width: 39px;
  display: block;
  border-radius: 5px;
  height: 4px;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

html body main .button-centralizado {
  border-radius: 3px;
  background-color: #25d193;
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 14.5px;
  border: none;
  margin: 0 auto;
  display: block;
}

html body main .blocoRoxo {
  width: 390px;
  padding: 25px 33px 31px 33px;
  border-radius: 8px;
  background: rgba(123, 95, 201, 0.9);
  min-height: 312px;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 576px) {
  html body main .blocoRoxo {
    width: 294px !important;
  }
}

html body main .blocoRoxo.ajusteBlocoDuvidas {
  min-height: 263px !important;
}

html body main .blocoRoxo .icone {
  position: relative;
  display: block;
  width: 100%;
  height: 110px;
  margin-bottom: 30px;
}

html body main .blocoRoxo .icone img {
  position: absolute;
  left: 50%;
  margin-left: -52px !important;
}

html body main .blocoRoxo h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

html body main .blocoRoxo button {
  margin-bottom: 17px;
}

html body main .blocoRoxo p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 0;
}

html body main .blocoRoxo p span {
  color: #25d194;
}

html body main .blocoRoxo p.duvidasP {
  text-align: center;
}

@media screen and (max-width: 767px) {
  html body main .mobileNone {
    display: none !important;
  }
}

html body main .desktopNone {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  html body main .desktopNone {
    display: none !important;
  }
}

html body main #manifestoMain {
  max-width: 626px;
}

html body main #manifestoMain div {
  margin-bottom: 30px;
}

html body main #manifestoMain div:first-child {
  margin-top: 30px;
}

html body main #manifestoMain div .tituloBlocos {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: #422e86;
  text-transform: uppercase;
  max-width: 560px;
  padding: 0 5px;
  margin: 15px auto 10px auto;
}

@media screen and (max-width: 576px) {
  html body main #manifestoMain div .tituloBlocos {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  html body main #manifestoMain div .tituloBlocos {
    font-size: 2em;
  }
}

html body main #manifestoMain div .conteudoManifesto {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #383838;
}

html body main #termosDeUso div {
  margin-bottom: 25px;
}

html body main #termosDeUso div h3 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #422e86;
  margin-bottom: 15px;
}

html body main #termosDeUso div p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #383838;
}

@media screen and (min-width: 1200px) {
  html body main #secaoComeceAgora #chamada-principal {
    width: 952px;
    margin: 0 auto;
  }
}

html body main #secaoComeceAgora #chamada-principal #bloco-verde {
  width: 131px;
  height: 101px;
  border-radius: 8px 0px 0px 8px;
  background-color: #25d194;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores {
  position: relative;
  display: table;
  width: 821px;
  height: 101px;
  opacity: 0.9;
  border-radius: 0px 8px 8px 0px;
  background-color: #7b5fc9;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores p {
  font-size: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  font-weight: 400;
  padding-left: 9px;
  margin-bottom: 5px;
  font-weight: 400;
  height: 31px;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores ul {
  color: #25d194;
  padding-left: 26px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores ul li {
  font-size: 15px;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores #botaoDivisoria {
  position: relative;
  margin-top: 8px;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores #botaoDivisoria span {
  font-weight: 400;
  color: #fff;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores #botaoDivisoria span.divisoria {
  position: absolute;
  width: 1px;
  top: -14px;
  left: -34px;
  display: inline-block;
  background-color: #fff;
  height: 73px;
}

html body main #secaoComeceAgora #chamada-principal #container-bloco-controladores #bloco-colaboladores #botaoDivisoria #comeceAgora {
  border: none;
  color: #fff;
  width: 213.6px;
  height: 44px;
  border-radius: 2.4px;
  background-color: #25d194;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
  margin-right: 33.4px;
}

html body main #sectionPlanos {
  background-image: linear-gradient(to top, #775abc, #9782e1);
  padding-top: 50px;
  margin-top: 30px;
}

html body main #sectionPlanos h2 {
  height: 28px;
  font-weight: 400;
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 9px;
}

html body main #sectionPlanos div.linhaBranca {
  width: 39px;
  display: block;
  border-radius: 5px;
  height: 4px;
  margin: 0 auto 30px auto;
  background-color: #fff;
}

html body main #sectionPlanos #containerTabelaPlanos {
  padding-bottom: 25px;
  max-width: 1042px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano {
  max-width: 316px;
  margin-right: 32px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano:last-child {
  margin-right: 0;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano p#queridinho {
  margin: 15px 0;
  text-transform: uppercase;
  text-align: center;
  color: #433582;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano.tabelaCentral {
  border-radius: 8px;
  padding-bottom: 25px;
  background-color: #fde584;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano.tabelaCentral .containerPlanoTable {
  background-color: #624aa7;
  margin-top: 0px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable {
  width: 282px;
  height: 638px;
  border-radius: 8px;
  background-color: rgba(66, 46, 134, 0.45);
  color: #fff;
  margin: 0 auto;
  margin-top: 54px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .faleComConsultor {
  width: 213.6px;
  height: 44px;
  border-radius: 2.4px;
  border: none;
  color: #fff;
  margin: 20px auto 11px auto;
  display: block;
  background-color: #25d193;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .saibaMais {
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .blocoIconeNome {
  width: 155px;
  height: 90px;
  border-radius: 0px 0px 8px 8px;
  margin: 0 auto 0 auto;
  background-color: rgba(37, 209, 148, 0.8);
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .blocoIconeNome .tituloPlano {
  font-size: 23px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .divisoria {
  width: 248px;
  background-color: #fff;
  height: 1px;
  display: block;
  margin: 0 auto;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 {
  display: table;
  width: 100%;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 ul, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 ul, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 ul {
  padding-left: 26px;
  color: #25d194;
  font-size: 15px;
  line-height: 1.33;
  text-align: left;
  margin-bottom: 0;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 ul li span, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 ul li span, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 ul li span {
  color: #fff;
  font-weight: 400;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 p, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 p, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 p {
  font-size: 13px;
  padding-left: 26px;
  font-weight: 300;
  line-height: 1.54;
  text-align: left;
  margin-bottom: 0;
  font-family: 'Rubik';
  margin-bottom: 10px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 p:last-child, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 p:last-child, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 p:last-child {
  margin-bottom: 0;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito {
  width: 124px;
  margin-right: 12px;
  text-align: right;
  padding-top: 5px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p {
  position: relative;
  padding-left: 0;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.porColaborador, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.porColaborador, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.porColaborador {
  position: relative;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.porColaborador span.topText.quebra, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.porColaborador span.topText.quebra, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.porColaborador span.topText.quebra {
  position: absolute;
  top: -3px;
  right: -49px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.preco, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.preco, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.preco {
  height: 26px;
  line-height: 0.7;
  display: table-cell;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.preco span.upperValor, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.preco span.upperValor, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.preco span.upperValor {
  font-size: 40px;
  letter-spacing: -2px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.preco span.topText, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.preco span.topText, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.preco span.topText {
  vertical-align: top;
  letter-spacing: 1.1px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 .conteudoBloco .ladoDireito p.preco span.quebra, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 .conteudoBloco .ladoDireito p.preco span.quebra, html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 .conteudoBloco .ladoDireito p.preco span.quebra {
  max-width: 66px;
  line-height: 1;
  font-size: 10px;
  display: inline-block;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco1 {
  min-height: 182px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco2 {
  min-height: 116px;
}

html body main #sectionPlanos #containerTabelaPlanos .tabelaPlano .containerPlanoTable .tabelaBloco3 {
  min-height: 138px;
}

html body main #historiaSucesso h2 {
  height: 28px;
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: center;
  color: #422e86;
  font-weight: 400;
  margin-top: 50px;
}

html body main #historiaSucesso .linhaVerde {
  width: 39px;
  display: block;
  border-radius: 5px;
  height: 4px;
  margin: 0 auto 30px auto;
  background-color: #0ecc86;
}

html body main #historiaSucesso .historia {
  display: block;
  max-width: 941px;
  margin: 0 auto 30px auto;
  padding: 20px 55px;
  border-radius: 7px;
  background-color: rgba(108, 78, 182, 0.06);
  border: solid 1px rgba(108, 78, 181, 0.54);
}

html body main #historiaSucesso .historia:first-child {
  margin-top: 47px;
}

html body main #historiaSucesso .historia h3 {
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: left;
  color: #6c4eb6;
  margin: 20px 0;
}

html body main #historiaSucesso .historia .media .media-body p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
  color: #383838;
}

html body main #historiaSucesso .historia .media .media-body button {
  color: #fff;
  border: none;
  width: 214px;
  height: 44px;
  border-radius: 2.4px;
  background-color: #25d194;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
}

html body main section#engajamento h3 {
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: center;
  color: #422e86;
  font-weight: 400;
  margin-top: 52px;
}

@media screen and (max-width: 574px) {
  html body main section#engajamento h3 {
    font-size: 18px;
  }
}

html body main section#engajamento .container div .container-fluid img {
  display: block;
}

html body main section#engajamento .container div .itensPerguntas {
  margin-bottom: 40px;
}

html body main section#engajamento .container div .itensPerguntas:first-child {
  margin-top: 40px;
}

html body main section#engajamento .container div .itensPerguntas h4 {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: left;
  color: #422e86;
  font-weight: 300;
}

html body main section#engajamento .container div .itensPerguntas p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #383838;
}

html body main section#superFerramentas {
  background-image: linear-gradient(to top, #775abc, #9782e1);
  padding-top: 30px;
  padding-bottom: 50px;
}

html body main section#superFerramentas .container h3 {
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-weight: 400;
}

html body main section#superFerramentas .container p {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  html body main section#superFerramentas .container #example1 {
    display: none;
  }
}

html body main section#superFerramentas .container #example1 .sp-slides-container {
  margin-bottom: 20px;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails {
  height: auto !important;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-thumbnail-container {
  width: 115px !important;
  height: 115px !important;
  border-radius: 4px;
  margin-top: 17px;
  transition: 1s;
  -webkit-transition: 1s;
  display: table;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-thumbnail-container .thumbnailContainerIcon {
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: -5px 0 4px 0 rgba(0, 0, 0, 0.18);
  display: table;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-thumbnail-container .thumbnailContainerIcon .ajusteThumb {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-thumbnail-container .thumbnailContainerIcon .ajusteThumb img {
  margin-bottom: 7px;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-thumbnail-container .thumbnailContainerIcon .ajusteThumb p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: center;
  color: #37227a;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-selected-thumbnail {
  width: 142px !important;
  height: 142px !important;
  margin-top: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.41);
  -webkit-transition: 1s;
  transition: 1s;
}

html body main section#superFerramentas .container #example1 .sp-thumbnails .sp-selected-thumbnail .sp-thumbnail .ajusteThumb p {
  font-size: 20px;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas {
  padding: 0 40px;
  max-width: 853px;
  height: 468px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  left: 21px;
  position: relative;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas h4 {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #422e86;
  font-weight: 400;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 {
  width: 50%;
  float: left;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 .containerInfo {
  padding-left: 26px;
  margin-bottom: 20px;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 .containerInfo p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #422e86;
  margin-bottom: 5px;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 .containerInfo .conteudo p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #383838;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 .containerInfo .conteudo ul {
  padding-left: 0;
  list-style-type: none;
}

html body main section#superFerramentas .container #example1 .sp-slides .sp-slide .containerFerramentas .col-50 .containerInfo .conteudo ul li {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.53;
  letter-spacing: 0.3px;
  text-align: left;
  color: #383838;
}

html body main section#superFerramentas .container .carousel-control-prev-icon {
  background-image: url("../img/setas.png");
  width: 22px;
  height: 58px;
  background-position: 10px -2px;
  top: 27px;
  position: absolute;
  left: -8px;
}

html body main section#superFerramentas .container .carousel-control-next-icon {
  background-image: url("../img/setas.png");
  width: 22px;
  height: 58px;
  background-position: -13px -2px;
  top: 27px;
  position: absolute;
  right: -8px;
}

html body main section#superFerramentas .container #sliderMobile {
  margin-bottom: 20px;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas {
  padding: 0 40px;
  max-width: 853px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  position: relative;
  padding-bottom: 20px;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas h4 {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #422e86;
  font-weight: 400;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 {
  width: 50%;
  float: left;
}

@media screen and (max-width: 768px) {
  html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 991px) {
  html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 div img {
    margin: 10px auto;
    display: block;
    max-width: 100%;
  }
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 .containerInfo {
  padding-left: 26px;
  margin-bottom: 20px;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 .containerInfo p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #422e86;
  margin-bottom: 5px;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 .containerInfo .conteudo p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  text-align: justify;
  color: #383838;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 .containerInfo .conteudo ul {
  padding-left: 0;
  list-style-type: none;
}

html body main section#superFerramentas .container #sliderMobile #carouselExampleControls .carousel-inner .containerFerramentas .col-50 .containerInfo .conteudo ul li {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.53;
  letter-spacing: 0.3px;
  text-align: left;
  color: #383838;
}

html body main section#prontoParaAcabarComClimao {
  padding: 50px 0 75px 0;
}

html body main section#prontoParaAcabarComClimao h3 {
  font-size: 33px;
  line-height: 0.85;
  letter-spacing: 0.6px;
  text-align: center;
  color: #422e86;
  display: block;
  width: 100%;
  font-weight: 400;
}

html body main section#quemAprova {
  background-image: linear-gradient(to bottom, #775bbb, #9782e1);
  padding-top: 50px;
  padding-bottom: 63px;
}

html body main section#quemAprova .container h3 {
  width: 100%;
  color: #fff;
  font-weight: 400;
}

html body main section#quemAprova .container div#linhaQuemAprovaCentraliza {
  width: 100%;
}

@media screen and (min-width: 992px) {
  html body main section#quemAprova .container div#linhaQuemAprovaCentraliza {
    max-width: 816px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  html body main section#quemAprova .container div {
    padding: 0 !important;
  }
}

html body main section#quemAprova .container div .quemAprovaPerfil {
  margin-top: 55px;
  margin-bottom: 55px;
  width: 371px;
}

@media screen and (max-width: 576px) {
  html body main section#quemAprova .container div .quemAprovaPerfil {
    width: 310px;
  }
}

@media screen and (max-width: 992px) {
  html body main section#quemAprova .container div .quemAprovaPerfil {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  html body main section#quemAprova .container div .quemAprovaPerfil .margin-left-media {
    margin-left: 50px;
  }
}

@media screen and (max-width: 574px) {
  html body main section#quemAprova .container div .quemAprovaPerfil .media img {
    max-width: 92px;
    margin-left: 11px;
  }
}

html body main section#quemAprova .container div .quemAprovaPerfil .media .media-body p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
  color: #ffffff;
  margin-bottom: 0;
  width: 214px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  html body main section#quemAprova .container div .quemAprovaPerfil .media .media-body p {
    width: 184px;
  }
}

@media screen and (max-width: 575px) {
  html body main section#quemAprova .container div .quemAprovaPerfil .media .media-body p {
    width: 184px !important;
    font-size: 14px;
    margin: 0;
    padding-left: 18px;
  }
}

html body main section#quemAprova .container div .quemAprovaPerfil .media .media-body p:first-child {
  margin-bottom: 10px;
}

html body main section#quemAprova .container ul {
  list-style-type: none;
  padding-left: 0;
  display: table;
}

html body main section#quemAprova .container ul li {
  display: table-cell;
  padding-left: 44px;
}

html body main section#quemAprova .container ul li:last-child {
  margin-right: 0;
}

html body footer {
  height: 325px;
}

html body footer div#footer1 {
  background-image: -webkit-linear-gradient(bottom, #775abc, #422e86);
  background-image: -o-linear-gradient(bottom, #775abc, #422e86);
  background-image: linear-gradient(to top, #775abc, #422e86);
  margin: 0 auto !important;
}

html body footer div#footer2 {
  background-color: #1e143e;
}

html body footer div.container-fluid div.row {
  padding-top: 23px;
}

html body footer div.container-fluid div.row#itens-lista {
  margin: 0 auto !important;
}

html body footer div.container-fluid div.row#itens-texto {
  margin: 0 auto !important;
}

html body footer div.container-fluid div.row#itens-texto p {
  font-size: 14px;
  font-weight: 300;
}

html body footer div.container-fluid div.row div {
  color: #fff;
}

html body footer div.container-fluid div.row div h3 {
  font-size: 14px;
  font-weight: 400;
}

html body footer div.container-fluid div.row div ul {
  list-style-type: none;
  padding-left: 0;
}

html body footer div.container-fluid div.row div ul li a {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  display: block;
  padding-bottom: 14px;
  text-decoration: none;
}

html body footer div.container-fluid div.row div ul li a:active, html body footer div.container-fluid div.row div ul li a:focus, html body footer div.container-fluid div.row div ul li a:hover, html body footer div.container-fluid div.row div ul li a:visited {
  text-decoration: none;
}

html body footer div.container-fluid div.row div div p {
  font-weight: 300;
  font-size: 14px;
}
